<div class="affiliates">

    {% for link in model.swirl-links %}

    <div class="swirl-link">

        {% ifequal link.type_code "I" %}
        <a href="{{ link.code|itunesalbum }}" target="_blank"><img
                src="/immutable/images/Get_it_on_iTunes_Badge_US_1114.svg" width="110" height="40" alt="Buy on iTunes"></a>
        {% endifequal %}

        {% ifequal link.type_code "Z" %}
        <a href="{{ link.code }}" target="_blank"><img
                src="/immutable/images/amazon-buy-button_198x88.jpg" width="198" height="88" alt="Buy at Amazon"></a>

        {% endifequal %}

        {% ifequal link.type_code "A" %}
        {% ifequal model.swirl.type "book" %}

        <a href="http://www.amazon.co.uk/gp/product/{{link.code}}/ref=as_li_tl?ie=UTF8&amp;camp=1634&amp;creative=6738&amp;creativeASIN={{link.code}}&amp;linkCode=as2&amp;tag=swirl-21"
           target="_blank">
            <img src="https://images-na.ssl-images-amazon.com/images/G/02/associates/mariti/banner/uk_associates_14-07-2015_amazon-logo__1_120x60.jpg"
                 alt="Buy on Amazon.co.uk" title="Buy on Amazon.co.uk"
                 width="120" height="60"></a>

        {% endifequal %}
        {% endifequal %}

        {% ifequal link.type_code "W" %}
        <i class="fa fa-link"></i> <a href="{{ link.code }}" target="_blank">Go to website &gt;&gt;</a>
        {% endifequal %}

        {% ifequal link.type_code "M" %}
        <a href="http://www.imdb.com/title/{{ link.code }}/" target="_blank"><img src="/immutable/images/imdb_icon.png"
                                                                                  width="120" height="61"
                                                                                  alt="View at IMDb.com"></a>
        <a href="http://www.netflix.com/search/{{ model.swirl.title|urlescape }}" target="_blank">Search on Netflix</a>
        {% endifequal %}


        {% ifequal link.type_code "P" %}
        This Swirl was a response to
        <a href="/swirls/{{ link.code }}">{{ link.code|swirl-title }}</a>
        {% endifequal %}


    </div>
    {% endfor %}

    {% ifequal model.swirl.type "tv" %}
    <div class="swirl-link">
        <a href="http://www.netflix.com/search/{{ model.swirl.title|urlescape }}" target="_blank">Search on Netflix</a>
    </div>
    {% endifequal %}

</div>
<div style="clear:both;"></div>