<div class="affiliates">

    {% for link in model.swirl-links %}

    <div class="swirl-link">

        {% ifequal link.type_code "I" %}
        <a href="{{ link.code|itunesalbum }}" target="_blank"><img
                src="/immutable/images/Get_it_on_iTunes_Badge_US_1114.svg" width="110" height="40" alt="Buy on iTunes"></a>
        {% endifequal %}

        {% ifequal link.type_code "Z" %}
        <a href="{{ link.code }}" target="_blank"><img
                src="/immutable/images/amazon-buy-button_198x88.jpg" width="198" height="88" alt="Buy at Amazon"></a>
        {% endifequal %}

        {% ifequal link.type_code "W" %}
        <i class="fa fa-link"></i> <a href="{{ link.code }}" target="_blank">Go to website &gt;&gt;</a>
        {% endifequal %}

        {% ifequal link.type_code "M" %}
        <a href="http://www.imdb.com/title/{{ link.code }}/" target="_blank"><img src="/immutable/images/imdb_icon.png" width="120" height="61" alt="View at IMDb.com"></a>
        {% endifequal %}

        {% ifequal link.type_code "P" %}
        <img class="swirl-icon-link" src="/immutable/images/swirl-logo-v3.svg" width="12" height="12" alt="Swirl"><a href="/swirls/{{ link.code }}" target="_blank">Progenitor: {{ link.code|swirl-title }}</a>
        {% endifequal %}

        {% ifequal link.type_code "S" %}
        <img class="swirl-icon-link" src="/immutable/images/swirl-logo-v3.svg" width="12" height="12" alt="Swirl"><a href="/swirls/{{ link.code }}" target="_blank">Response: {{ link.code|swirl-title }}</a>
        {% endifequal %}


    </div>
    {% endfor %}

</div>