{% extends "base.html" %}
{% block content %}

<h1>Create</h1>

{% if error %}

<p class="validation-error">Sorry, there was an error. Please try again.</p>

{% endif %}

<form method="POST" action="/swirls/create">
    {% csrf-field %}

    <label>Hey
        <input type="text" name="who" maxlength="1000" placeholder="anyone" value="{{who}}">
    </label>

    <label>You should watch or read or listen to
        <input type="text" name="subject" required maxlength="200" value="{{subject}}"
               placeholder="Title of a movie, book, song, album, etc">
    </label>

    <label for="review">Because</label>
    <div class="rte">
        <div class="editor"contenteditable="true"></div>
        <textarea required id="review" name="review" style="display:none">&lt;b&gt;This is my&lt/b&gt; full response{{review}}</textarea>
    </div>

    <input type="submit" value="Submit">

</form>

{% endblock %}
