{% extends "base.html" %}
{% block content %}
<div class="standard-page padded">

    <h1>Create a swirl</h1>

    {% if error %}

    <p class="validation-error">Sorry, there was an error. Please try again.</p>

    {% endif %}

    <form method="POST" action="{{ id|swirlediturl }}" class="edit-swirl">
        {% csrf-field %}


    <input type="hidden" name="origin-swirl-id" value="{{origin-swirl-id}}">
        <label for="swirl-title">You should {{type.words.watch}}</label>
        <input id="swirl-title" type="text" name="subject" required
               maxlength="{{ constraints.swirls.title.max-length }}" value="{{subject}}"
               placeholder="Title of a movie, book, song, album, etc">
        
        <div class="rte">
            <textarea name="review">{{review}}</textarea>
            <div class="rte--toolbar">
                <button class="spoiler-alert-button" title="Spoilers will not be shown by default until clicked on">Add spoiler alert</button>
            </div>
            <article class="editor" contenteditable="true"></article>
        </div>

        {% include "components/user-selector.html" %}

        <div class="button-panel">
            <input type="submit" value="Publish Swirl" class="button-primary">
        </div>

    </form>
</div>
{% endblock %}
