{% extends "base.html" %}
{% block content %}

<div class="buffer">

<h1>Create</h1>

{% if error %}

<p class="validation-error">Sorry, there was an error. Please try again.</p>

{% endif %}

<form method="POST" action="{{ id|swirlediturl }}" class="edit-swirl">
    {% csrf-field %}

    <div class="user-select-box"><strong>To:</strong>
        {% for friend in already-suggested %}
        <label title="This cannot be unselected as an email has already been sent to them"
                ><input type="checkbox" value="{{ friend.username }}" checked disabled>{{ friend.username }}</label>
        {% endfor %}
        {% for friend in contacts %}
        <label><input type="checkbox" name="who" value="{{ friend.username }}">{{ friend.username }}</label>
        {% endfor %}
        <input type="text" name="emails" class="recipients" maxlength="1000" placeholder="username or emails" value="{{who}}">
    </div>

    <label for="swirl-title">You should {{type.words.watch}}</label>
    <input id="swirl-title" type="text" name="subject" required
           maxlength="{{ constraints.swirls.title.max-length }}" value="{{subject}}"
           placeholder="Title of a movie, book, song, album, etc">



    <div class="rte">
        <textarea name="review">{{review}}</textarea>
        <article class="editor" contenteditable="true"></article>
    </div>

    <input type="submit" value="Save changes" class="button-primary">

</form>
</div>
{% endblock %}
