{% extends "base.html" %}
{% block content %}
<div class="standard-page padded">

    {% if edit? %}
    <h1>Edit your swirl</h1>
    {% else %}
    <h1>Create a swirl</h1>
    {% endif %}

    {% if error %}

    <p class="validation-error">Sorry, there was an error. Please try again.</p>

    {% endif %}

    <form method="POST" action="{{ id|swirlediturl }}" class="edit-swirl">
        {% csrf-field %}


        <input type="hidden" name="origin-swirl-id" value="{{origin-swirl-id}}">
        <input type="hidden" name="wishlist" value="{{wishlist}}">


        <div class="swirl-header border-bottom">
            <div class="swirl-header__bgimage" style="background-image: url({{ swirl.thumbnail_url }})"></div>
            <img class="swirl-header__image {{ swirl.type }}" src="{{ swirl.thumbnail_url }}"/>

            <div class="swirl-type">{{ swirl.type }}</div>
        </div>

        <h2>Title</h2>


        <div class="inline">
            <select id="swirl-type" name="swirl-type" class="type-selector" data-text="Change the Swirl Type">
                {% for type in all-types %}
                <option value="{{type}}" {% ifequal type swirl.type %}selected{% endifequal %}>{{type}}</option>
                {% endfor %}
            </select>
            <input id="swirl-title" type="text" name="subject" required
                   maxlength="{{ constraints.swirls.title.max-length }}" value="{{subject}}"
                   placeholder="Title of a movie, book, song, album, etc">
        </div>

        <div class="inline">
            <h3>Image URL:</h3>
            <input id="swirl-image-url" type="url" name="image-url" value="{{swirl.thumbnail_url}}"
                   placeholder="Image URL for the Swirl - As big as possible please!">
        </div>
        <a class="button" href="{{subject|image-search-url}}" target="_blank" title="Search for large images on Google!">Google Image Search</a>


        <div class="rte">
            <h2>Why should they {{type.words.watch}} this?</h2>
            <textarea name="review">{{review}}</textarea>

            <div class="rte--toolbar">
                <button class="spoiler-alert-button" title="Spoilers will not be shown by default until clicked on">Add
                    spoiler alert
                </button>
            </div>
            <article class="editor" contenteditable="true"></article>
        </div>

        <h2>Sharing</h2>

        <label><input class="private-toggle" type="checkbox" name="private" value="true" {% if is_private %}checked{%
                      endif %}> <i class="fa fa-lock"></i> Make this swirl private so only the selected users and groups
            can see it</label>

        {% with already-selected=already-suggested suggested-contacts=contacts other-contacts=unrelated %}
        {% include "components/user-selector.html" with disallow-unselects="true" %}
        {% endwith %}

        <div class="button-panel">
            <input type="submit" value="Publish Swirl" class="button-primary">
        </div>

    </form>
</div>
{% endblock %}
