{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="three columns ">
        <div class="profile">
            <div class="headprofile">
                <img class="gravatar" src="http://www.gravatar.com/avatar/123">

                <a href="/swirls/by/{{ user.username|urlescape }}">@{{user.username}}</a></div>
            <div class="inbox">
                <div class="left">6 <br/>New Swirls</div>
                <div>10 <br/>sent</div>
            </div>
        </div>
    </div>
    <div class="nine columns firehose-content">
        <h1>{{pageTitle}}</h1>
        {% if swirls|empty? %}
        We've run out of swirls. Gomen Nasai
        {% endif %}

        {% for swirl in swirls %}
        <div class="swirl">
            <img class="gravatar" src="http://www.gravatar.com/avatar/123?s=40">

            <div class="swirl-content">
                <a href="/swirls/{{swirl.id}}">{{swirl.title}}</a> by <a href="/swirls/by/{{swirl.username}}">@{{swirl.username}}</a>


                <article>
                    {{swirl.review|safe}}
                </article>

                <hr>
            </div>
        </div>
        {% endfor %}
        {% if countFrom = 20 %}<a href="/swirls/from/{{ countFrom|add:-20 }}">&lt; Previous 20 swirls</a>
        {% endif %}

        {% if all (countFrom = 20) (swirls|length = 20) %}|{% endif %}

        {% if swirls|length = 20 %}
        <a href="/swirls/from/{{countTo}}">Next 20 swirls &gt;</a>
        {% endif %}
    </div>
</div>
{% endblock %}
