{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="three columns ">
        <div class="profile"> {% if user %}

            <div class="headprofile">

                {{ user.email_md5|gravatar-img:80 }}
                <a href="{{ user.username|user-url }}">@{{user.username}}</a>
            </div>

            {% if response-counts|not-empty %}
            <div class="response-group">
                <a href="/swirls/inbox" class="button">Inbox</a>

                <h2>Your tagged items</h2>
                {% for rc in response-counts %}
                <a href="{{ rc.summary|inboxlink }}" class="button">{{rc.summary}} ({{rc.count}})</a>
                {% endfor %}
            </div>
            {% endif %}

            {% endif %}

        </div>

    </div>
    <div class="nine columns firehose-content">

        <h1>{{pageTitle}}</h1>

        {% include "components/swirls-list-with-paging.html" with swirls=swirls %}

    </div>
</div>
{% endblock %}
