{% extends "base.html" %}
{% block content %}

<div class="center-wrapper">

    {% if responses|not-empty %}

    <p class="center">
        Filter:
        {% for response in responses %}
        {% if forloop.counter = 3 %}
        <input type=radio class="more-radio" id="other-responses">
        <label class="more-link" for="other-responses">More...</label>
        {% endif %}
        <span class="{% if forloop.counter >= 3 %}more-content{% endif %}"><a href="{{ response.summary|inboxlink }}">{{response.summary}}</a>
            ({{response.count}})
            {% if forloop.last %}
            {% else %}
            ,
            {% endif %}
        </span>
        {% endfor %}
    {% endif %}
    </p>
    {% include "components/swirls-list-with-paging.html" %}


</div>
{% endblock %}
