{% extends "base.html" %}
{% block content %}
<div class="standard-page padded">
    <h1>Select an item to recommend</h1>

    {% if error %}

    <p class="validation-error">Sorry, there was an error. Please try again.</p>

    {% endif %}

    <form method="GET">
        <input type="search" name="search-term" class="searchbox" maxlength="1000"
               placeholder="{{ search-box-placeholder }}"
               value="{{search-term}}">
        <input type="submit" value="Search" class="button-primary">
    </form>

    {% for result in search-result.results %}
    <div class="search-result">

        <img src="{{ result.thumbnail-url }}" width="80" height="80">

        <h2><a href="{{ result.create-url }}">{{ result.title }}</a></h2>
        {% if result.artist %} by <em>{{ result.artist }}</em> {% endif %}
        {% if result.author %} by <em>{{ result.author }}</em> {% endif %}

    </div>
    {% endfor %}
</div>
{% endblock %}
