{% extends "base.html" %}
{% block content %}
<div class="buffer">

{% if error %}

<p class="validation-error">Sorry, there was an error. Please try again.</p>

{% endif %}

<form method="GET">
    <div class="row">
        <div class="ten columns">
            <input type="search" name="search-term" class="searchbox" maxlength="1000" placeholder="Book or Author"
                   value="{{search-term}}">
        </div>
        <div class="two columns center">
            <input type="submit" value="Search"></div>
    </div>

</form>

{% for result in search-result.results %}
<div class="search-result">

    <img src="{{ result.thumbnail-url }}" width="60" height="90">
    <h5><a href="/create/book?book-id={{ result.book-id }}">{{ result.title }}</a></h5> <span class="pad">By</span> <em>{{ result.author }}</em>

</div>
{% endfor %}
</div>
{% endblock %}
