{% extends "base.html" %}
{% block content %}

<h1>Select an item to recommend</h1>

{% if error %}

<p class="validation-error">Sorry, there was an error. Please try again.</p>

{% endif %}

<form method="GET">
    <input type="search" name="search-term" class="searchbox" maxlength="1000" placeholder="Album or Song"
           value="{{search-term}}">
    <input type="submit" value="Search" class="button-primary">
</form>

{% for result in search-result.results %}
<div class="search-result">

    <img src="{{ result.thumbnail-url }}" width="60" height="60">
    <h2><a href="/create/album?itunes-album-id={{ result.itunes-id }}">{{ result.title }}</a></h2>
    {% if result.artist %} by <em>{{ result.artist }}</em> {% end if %}

</div>
{% endfor %}

{% endblock %}
