{% extends "base.html" %}
{% block content %}

<h1>Start making a recommendation</h1>

<p>What would you like to recommend?</p>


<div>

    <div>
        <form method="POST" action="/create/youtube">
            {% csrf-field %}
            <img src="/immutable/images/YouTube-logo-20150508.png" width="773" height="481">
            <label for="youtube-url-box">Enter a YouTube video URL</label>
            <input id="youtube-url-box" type="url" name="youtube-url" required>
                <input type="submit" value="Go">
        </form>
    </div>



    <div>
        <h1><a href="/search/music">Music</a></h1>
        <h1><a href="/search/books">Books</a></h1>

    </div>

</div>

{% endblock %}
