{% extends "base.html" %}
{% block content %}

<h1>Start making a recommendation</h1>

<p>What would you like to recommend?</p>


<div>

    <div>
        <form method="POST" action="/create/youtube">
            {% csrf-field %}
            <img src="/immutable/images/YouTube-logo-20150508.png" width="773" height="481">
            <label>
                Enter a YouTube video URL:
                <input type="url" name="youtube-url" required>
                <input type="submit" value="Go">
            </label>
        </form>
    </div>

</div>

{% endblock %}
