{% extends "base.html" %}
{% block content %}
<div class="buffer">
    <h1>Start</h1>

    <p>What would you like to recommend?</p>

    <div class="row center">
        <div class="four columns">
            <form method="GET" action="/create/youtube">
                <i class="fa fa-youtube fa-5x"></i>
                <label for="youtube-url-box">Enter a YouTube video URL</label>
                <div class="searchbox"><input id="youtube-url-box" type="url" name="youtube-url">
                <input type="submit" value="Go"></div>
            </form>
        </div>
        <div class="four columns">
            <form method="GET" action="/search/music">
                <i class="fa fa-music fa-5x"></i>
                <label for="album-search-box">Album or Song Title</label>
                <div class="searchbox">  <input id="album-search-box" type="text" name="search-term">
                <input id="album-search-go-button" type="submit" value="Go"></div>
            </form>
        </div>
        <div class="four columns">
            <form method="GET" action="/search/books">
                <i class="fa fa-book fa-5x"></i>
                    <label for="book-search-box">Book or Author</label>
                    <div class="searchbox"><input id="book-search-box" type="text" name="search-term">
                    <input type="submit" value="Go"></div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
