<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>You should check out {{title}}</title>
</head>
<body>

    <p>Hi there,</p>

    <p>{{author_name}} has recommended that you check out
        <a href="{{swirl_id|swirlurl|absoluteurl}}?code={{code|str|urlescape}}">{{title}}</a>.
    </p>

    <p style="padding-top:40px;font-style: italic">To unsubscribe or change your email preferences, <a href="{{ recipient_email|notification-options-url|absoluteurl }}">click here</a>.</p>

</body>
</html>