{% extends "base.html" %}
{% block content %}

<h1>You should consume {{swirl.title}}</h1>

<div class="responses">
    <form method="POST" action="/swirls/{{swirl.id}}/respond">

        <table>
            {% for resp in responses %}
            <tr>
                <td class="username"><a href="/swirls/by/{{resp.username | urlescape}}">{{resp.username}}</a> said&nbsp;
                </td>
                <td class="response">{{resp.summary}}</td>
            </tr>
            {% endfor %}

            {% if user %}
            {% csrf-field %}

            <tr>
                <td class="username">{{ user.username }}</td>
                <td>            <input type="hidden" name="swirl-id" value="{{swirl.id}}">
                    <input type="text" name="response-summary" maxlength="1000" value="{{response-summary}}" placeholder="Enter a one-word response">
                    <input type="submit" value="Submit">
                </td>
            </tr>

            {% endif %}

        </table>
    </form>

</div>

<article>
    {{swirl.review|safe}}
</article>

<h2>Comments</h2>

<div class="comments">
    {% for comment in comments %}

    <div>
        <a href="/swirls/by/{{ comment.username|urlescape }}">{{comment.username}}</a> said:
        <br>
        {{ comment.html_content|safe }}
    </div>

    {% endfor %}
</div>


<h2>Your response</h2>

{% if user %}

<form method="POST" action="/swirls/{{swirl.id}}/comment">
    {% csrf-field %}

    <input type="hidden" name="swirl-id" value="{{swirl.id}}">

    <label>Comment
        <textarea name="comment" required>{{current-comment}}</textarea>
    </label>

    <input type="submit" value="Submit">

</form>


{% else %}

<p>Sign in to have your say.</p>
{% endif %}


{% endblock %}
