{% extends "base.html" %}
{% block content %}

<h1>You should consume {{swirl.title}}</h1>

{% if can-edit %}

<p class="swirl-admin-panel">
    <a href="{{ swirl.id|swirlediturl }}">[edit this page]</a>
</p>

{% endif %}

{% include "swirls/affiliate-links.html" %}

<article>
    {{swirl.review|safe}}
</article>

<div class="responses">

    {% if can-respond %}

    <h2>Seen it? What did you think?</h2>

    <form method="POST" action="/swirls/{{swirl.id}}/respond">
        {% csrf-field %}
        <input type="hidden" name="swirl-id" value="{{swirl.id}}">

        <input type="submit" name="responseButton" value="Loved it">
        <input type="submit" name="responseButton" value="Hated it">
        <input type="submit" name="responseButton" value="Meh">

        or
        <input type="text" name="response-summary" maxlength="{{constraints.swirl_responses.summary.max-length}}"
               value="{{response-summary}}"
               placeholder="Enter a short response">
        <input type="submit" name="responseButton" value="Submit">

        <p>Don't want to see it?
            <input type="submit" name="responseButton" value="Not interested">
        </p>


    </form>

    {% endif %}


    <table>
        {% for resp in responses %}
        <tr>
            <td class="username"><a href="/swirls/by/{{resp.username | urlescape}}">{{resp.username}}</a> said&nbsp;
            </td>
            <td class="response">{{resp.summary}}</td>
        </tr>
        {% endfor %}
    </table>

</div>


<h2>Comments</h2>

<div class="comments">
    {% for comment in comments %}

    <div>
        <a href="/swirls/by/{{ comment.username|urlescape }}">{{comment.username}}</a> said:
        <br>
        {{ comment.html_content|safe }}
    </div>

    {% endfor %}
</div>

{% include "swirls/affiliate-links.html" %}


{% if user %}

<form method="POST" action="/swirls/{{swirl.id}}/comment">
    {% csrf-field %}

    <input type="hidden" name="swirl-id" value="{{swirl.id}}">

    <label>Add your comment
        <textarea name="comment" required>{{current-comment}}</textarea>
    </label>

    <input type="submit" value="Submit">

</form>


{% else %}

<p>Sign in to have your say.</p>

{% include "auth/logister.html" %}

{% endif %}


{% endblock %}
