{% extends "base.html" %}
{% block content %}

<h1>You should consume {{swirl.title}}</h1>

<div>
    {{swirl.review}}
</div>

<h2>Responses</h2>

<ul>
    {% for resp in responses %}

    <li><a href="/swirls/by/{{resp.username | urlescape}}">{{resp.username}}</a> said: <strong>{{resp.summary}}</strong>
        <div>{{resp.full_response}}</div>
    </li>

    {% endfor %}
</ul>



<h2>Your response</h2>

{% if user %}

<form method="POST" action="/swirls/{{swirl.id}}/respond">
    {% csrf-field %}

    <input type="hidden" name="swirl-id" value="{{swirl.id}}">

    <label>One word response?
        <input type="text" name="response-summary" maxlength="1000" value="{{response-summary}}">
    </label>

    <label>Because
        <input type="text" required name="full-response" value="{{full-response}}">
    </label>

    <input type="submit" value="Submit">

</form>

{% else %}

<p>Sign in to have your say.</p>
{% endif %}


{% endblock %}
