{% extends "base.html" %}
{% block head %}
<meta property="og:site_name" content="Swirl">
<meta property="og:title" content="You should {{model.type.words.watch}} {{model.swirl.title}}"/>
<meta property="og:image" content="{{model.swirl.thumbnail_url}}"/>
<meta property="og:type" content="article">
<meta property="article:published_time" content="{{model.swirl.creation_date}}">
<meta name="twitter:widgets:csp" content="on">
<link rel="canonical" href="{{model.swirl.id|swirlurl|absoluteurl}}" />
{% endblock %}
{% block content %}
<div class="standard-page">
    {% include "swirls/view.html" %}

    {% if user %}
    {% else %}
    <p>Sign in to have your say.</p>
    {% include "auth/logister.html" %}
    {% endif %}

</div>
{% endblock %}
