<div class="mini-swirl {{swirl.type}}">
    <a href="{{ swirl.id|swirlurl }}" class="mini-swirl__link">
        <div class="mini-swirl__bgimage {{swirl.type}}" style="background-image: url({{ swirl.thumbnail_url }})">
                <div class="swirl-type">{{ swirl.type }}</div>
        </div>
        <div class="mini-swirl__content">
            <h2>{{swirl.title}}</h2>
        </div>
    </a>
    <div class="author-bit">

        <a rel="author" href="{{swirl.username|user-url}}">{{ swirl.email_md5|gravatar-img:25 }} {{swirl.username}}</a>
        {{swirl.creation_date|timetag}}
    </div>
</div>