<form method="POST" action="/swirls/{{swirl.id}}/respond" class="respond-form">
    {% csrf-field %}
    <input type="hidden" class="swirl-id-field" name="swirl-id" value="{{swirl.id}}">

    <div class="response-buttons">
        {% for response in seen-response-options %}
        <input type="submit" name="responseButton" value="{{ response }}" formnovalidate {% ifequal response
               response-of-current-user.summary %}class="button-primary" {% endifequal %}>
        {% endfor %}
    </div>

    <input type="text" name="response-summary" maxlength="{{constraints.swirl_responses.summary.max-length}}"
           value="{{response-summary}}" class="custom-response" required
           placeholder="Or enter a short response">
    <input type="submit" name="responseButton" value="Add" data-button-type="custom"
           class="custom-response-button">


</form>

