<form method="POST" action="/swirls/{{model.swirl.id}}/respond" class="respond-form">
    {% csrf-field %}
    <input type="hidden" class="swirl-id-field" name="swirl-id" value="{{model.swirl.id}}">

    <h2 class="title-color">What did you think?</h2>

    <div class="response-buttons">

        {% for response in model.seen-response-options %}
        <button type="submit" name="responseButton" value="{{ response }}" formnovalidate {% ifequal response
                model.response-of-current-user.html_content %}class="swirl-button" {% endifequal %}><i
                class="fa fa-fw {{ response|response-icon }}"></i> {{ response }}
        </button>
        {% endfor %}
    </div>

    <input type="text" name="response-summary" maxlength="{{constraints.swirl_responses.summary.max-length}}"
           value="{{model.response-summary}}" class="custom-response" required
           placeholder="Or enter a custom response">
    <button type="submit" name="responseButton" value="Add" data-button-type="custom"
            class="custom-response-button">Add
    </button>

</form>
