{% if swirls|empty? %}
We've run out of swirls. Gomen Nasai
{% else %}

<div class="type-filter">
    Swirling:
    <button data-swirl-type="album" class="album">Albums</button>
    <button data-swirl-type="book" class="book">Books</button>
    <button data-swirl-type="movie" class="movie">Movies</button>
    <button data-swirl-type="tv" class="tv">TV Shows</button>
    <button data-swirl-type="video" class="video">Videos</button>
    <button data-swirl-type="website" class="website">Links</button>
</div>

<div class="swirl-list">
    {% for swirl in swirls %}
    {% include "components/mini-swirl.html" with swirl=swirl %}
    {% endfor %}
</div>

{% if paging-url-prefix %}
<div class="paging">
    {% if countFrom > 0 %}<a href="{{ paging-url-prefix }}{{ countFrom|add:-20 }}">&lt; Previous 20 swirls</a>
    {% endif %}

    {% if all (countFrom = 20) (swirls|length = 20) %}|{% endif %}

    {% if swirls|length = 20 %}
    <a href="{{ paging-url-prefix }}{{countTo}}">Next 20 swirls &gt;</a>
    {% endif %}
</div>
{% endif %}

{% endif %}
