{% if swirls|empty? %}
<p>
    We've run out of swirls. Gomen Nasai
</p>

<p>
    To get started, you could <a href="/swirls/start">create a recommendation for one of your friends</a>
    or <a href="/">see what's Swirling</a> to see what other people are recommending.
</p>
{% else %}

<div class="type-filter">
    <button data-swirl-type="album" class="album">Albums</button>
    <button data-swirl-type="book" class="book">Books</button>
    <button data-swirl-type="movie" class="movie">Movies</button>
    <button data-swirl-type="tv" class="tv">TV Shows</button>
    <button data-swirl-type="video" class="video">Videos</button>
    <button data-swirl-type="game" class="game">Games</button>
    <button data-swirl-type="website" class="website">Links</button>
</div>

<div class="swirl-list" id="swirl-list">
    {% for swirl in swirls %}
    {% include "components/mini-swirl.html" with swirl=swirl %}
    {% endfor %}
</div>

{% if more-swirls|not-empty %}
<div class="paging">
    <button class="previous-swirls">&lt; Previous 20 Swirls</button>
    <button class="next-swirls">Next 20 Swirls &gt;</button>
</div>
{% endif %}

<datalist id="more-swirls">
{% for swirl in more-swirls %}
   <option data-value="{{ swirl|swirl-html }}" data-swirl-type="{{ swirl.type }}">{{ swirl.id }}</option>
{% endfor %}
</datalist>


{% endif %}
