<div class="user-select-box">

    {% if origin-swirl-id %}
    <label><input type="checkbox" name="who" value="{{ origin-swirl-author.username }}" checked>{{ origin-swirl-author.username }}</label>
    {% endif %}
    {% for friend in already-selected %}
    <label><input type="checkbox" name="who" value="{{ friend.username }}" checked {% if disallow-unselects %}disabled{% endif %}>{{ friend.username }}</label>
    {% endfor %}
    {% for friend in suggested-contacts %}
    <label><input type="checkbox" name="who" value="{{ friend.username }}">{{ friend.username }}</label>
    {% endfor %}
    <input type="text" list="users" name="emails" class="recipients" maxlength="1000" placeholder="username or emails"
           placeholder="username or emails"
           value="{{who}}">
    <datalist id="users">
        {% for user in other-contacts %}
        <option value="{{ user.username }}">
            {% endfor %}
    </datalist>
</div>
