<div class="user-select-box">
    <h2>Sharing</h2>

    <p>Enter usernames or email addresses of the people you would like to share this with.</p>
    {% if origin-swirl-id %}
    <label><input type="checkbox" name="who" value="{{ origin-swirl-author.username }}" checked>{{ origin-swirl-author.username }}</label>
    {% endif %}
    {% for friend in already-suggested %}
    <label title="This cannot be unselected as an email has already been sent to them"
            ><input type="checkbox" value="{{ friend.username }}" checked disabled>{{ friend.username }}</label>
    {% endfor %}
    {% for friend in contacts %}
    <label><input type="checkbox" name="who" value="{{ friend.username }}">{{ friend.username }}</label>
    {% endfor %}
    <input type="text" list="users" name="emails" class="recipients" maxlength="1000" placeholder="username or emails"
           placeholder="username or emails"
           value="{{who}}">
    <datalist id="users">
        {% for user in unrelated %}
        <option value="{{ user.username }}">
            {% endfor %}
    </datalist>
</div>
