{% if notifications|not-empty %}

{% for swirl-note in notifications %}
<div class="notification">
    <h2><a href="{{ url-if-in-email }}{{ swirl-note.swirl.id|swirlurl }}">{{swirl-note.swirl.title}}</a></h2>
    <ul>
    {% for note in swirl-note.notifications %}
        <li>
            {% if not any note.date_emailed note.date_seen %}
            <span class="new"><i class="fa fa-star"></i> New: </span>
            {% endif %}

            {% ifequal note.notification_type "R" %}
            {{note.instigator-username}} recommended this to you
            {% endifequal %}
            {% ifequal note.notification_type "C" %}
            {{note.instigator-username}} added a comment
            {% endifequal %}
            {% ifequal note.notification_type "P" %}
            {{note.instigator-username}} responded <strong>{{note.summary}}</strong>
            {% endifequal %}

        </li>
    {% endfor %}
    </ul>
</div>
{% endfor %}

{% else %}
<p>Nothing to see here</p>
{% endif %}
