@import "base.css";
@import "editor.css";


#swirl-title {
    width: 90%;
}

.responses input, .responses textarea, .responses select, .responses button {
    display: inline;
}

.response-text {
    font-weight: bold;
}

.gravatar {
    border-radius: 50%;
}

.avatar-with-name {
    width: 100%;
    text-align: center;
}
.avatar-with-name .gravatar{
    display: block;
    margin: 0 auto;
}


.mini-swirl h2 {
    margin-top: 120px;
    text-align: center;
}


.comment {
    clear: both;
    margin-bottom: 30px;
}


.comment .user-link {
    font-weight: bold;
}

.comment .gravatar {
    float: left;
}


.comment .comment-body {
    margin-left: 50px;
}

.comment time {
    display: block;
    color: #AAAAAA;
}


article{
    padding-top: 20px;
}
article img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 80vh;
}
article iframe {
    max-width: 100%;
    max-height: 60vh;
}


.logister {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logister--panel {
    border: 1px solid #CCCCCC;
    border-radius: 10%;
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
}

.search-result {
    clear: both;
    margin: -1px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    padding: 15px;
}

.searchbox{
    padding-top: 20px;
}

.search-result img {
    float: left;
    padding-left: 10px;
    padding-right: 35px;
}


.search-result em {
    color: #737373;
    font-style: italic;
}




.chrome-only, .chrome-extension-installed, .install-chrome-extension-box {
    display: none;
}


.respond-form {
    text-align: center;
}

.response-group {
    margin-top: 40px;
}
.response-group a.button {
    display: block;
    width: 100%;
}

.swirl-admin-panel {
    text-align: center;
}


.start-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.start-box {
    text-align: center;
}

.affiliates {
    margin: 20px 0;
}
.swirl-link {
    font-weight: bold;
}