@import "base.css";
@import "editor.css";
@import "home.css";
@import "groups.css";
@import "swirl-list.css";
@import "swirl-detail.css";

#swirl-title, #swirl-image-url {
    width: 80%;
}
.swirl-title{
    padding-top: 10px;
}

.responses input, .responses textarea, .responses select, .responses button {
    display: inline;
}

.response-text {
    font-weight: bold;
}

.gravatar {
    vertical-align: middle;
    border-radius: 50%;
}

.avatar-with-name {
    font-size: 2rem;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: -10px;
    margin-bottom: 0px;
    color: var(--main-font-color);
    font-weight: normal;
}

input.more-radio{
    display:none;
}

.more-link{
  cursor: pointer;
}

input.more-radio:checked + .more-link{
  display: none;
}

.more-content {
    display:none;
}

input.more-radio:checked ~ .more-content {
  display: inline;
}

nav ul{
    padding-left: 10px;
    padding-right: 10px;
}


h1.headline {
    margin-top: 20px;
}

.comment {
    clear: both;
    margin-bottom: 30px;
    text-align: left;
}

.comment.last-comment {
    margin-bottom: 15px;
}
.comment.first-old-comment {
    padding-top: 15px;
}

.comment .user-link {
    font-weight: bold;
}

.comment .gravatar {
    float: left;
}


.comment .comment-body {
    margin-left: 50px;
}

.comment time {
    display: block;
    color: #AAAAAA;
}

.comment-html {
     padding-top: 10px;
     padding-bottom: 10px;
}

article{
    padding: 0 1.8em 10px;
    font-size: 1.1em;
    text-align: justify;
    word-wrap: break-word;
}

.comment-area {
    margin-top: 20px;
}

.comment-area label.more-link{
    color: var(--swirl-blue);
    margin-bottom: 20px;
    margin-left: 20px;
}

.comments img, article img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 80vh;
}
.comments img, article iframe {
    max-width: 100%;
    max-height: 90vh;
}

.user-entered-embed-box iframe {
    max-height: 40vh;
    max-width: 400px;
    width: 100%;
}

.fb--login{
    padding-top: 50px;
}
.home--content{
    padding: 40px;
}
.home--content p{
    line-height: 2;
    font-size: 25px;
}
.home--content br{
    padding-top: 5px;
}

.logister {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.logister label span{
    display: none;
}

.logister--panel {
    border: 1px solid #CCCCCC;
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
    text-align: center;
}

.logister--panel label {
    display: block;
    margin: 0px;
}
.logister--panel label>span {
    float: left;
    width: 45%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}


.search-result {
    clear: both;
    border: 1px solid #CCCCCC;
    overflow: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.searchbox {
    padding-top: 20px;
}

.search-result img {
    float: left;
    margin-left:10px;
    margin-right:25px;
}

.search-result em {
    color: #737373;
    font-style: italic;
}

.search-result h2 {
    margin: 0;
    padding: 0;
}




.chrome-only, .chrome-extension-installed, .install-chrome-extension-box {
    display: none;
}


.respond-form {
    text-align: left;
    margin-bottom: 0px;
}

.response-group {
    margin-top: 40px;
}
.response-group a.button {
    display: block;
    width: 100%;
}



.start-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.start-box {
    text-align: center;
}

.swirl-link {
    padding: 20px;
}


.notifications time {
    color: #9d9d9d;
}
.new {
    font-weight: bold;
}
.new .fa {
    color: #ffbf00;
}

.paging {
    text-align: center;
    margin: 20px 0;
}

.paging button {
    width: 150px;
}

.private-swirl-message {
    margin-top: 30px;
}

.expand-toggle-button {
    width: 100%;
    margin: 0;
    border: 0;
    color: White;
    font-size: larger;
    text-align: left;
}
button.expand-toggle-button::before {
    content: "+ ";
    font-size: larger;
}
button.expand-toggle-button.expanded::before {
    content: "- ";
    font-size: larger;
}

.expansion-content {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    text-align: left;
}

#show-responses-button {
    background-color: var(--video-color);
}
#show-comments-button {
    background-color: var(--tv-color);
}
#show-share-button {
    background-color: var(--movie-color);
}
#show-links-button {
    background-color: var(--book-color);
}
#show-admin-button {
    background-color: var(--album-color);
}

#show-swirls-sent-button {
    background-color: var(--video-color);
}
#show-swirls-responded-button {
    background-color: var(--tv-color);
}
#show-help-button {
    background-color: var(--movie-color);
}
#show-edit-profile-button {
    background-color: var(--book-color);
}