@import "base.css";
@import "editor.css";
@import "home.css";
@import "swirl-list.css";
@import "swirl-detail.css";

#swirl-title {
    width: 90%;
}

.responses input, .responses textarea, .responses select, .responses button {
    display: inline;
}

.response-text {
    font-weight: bold;
}

.gravatar {
    vertical-align: middle;
    border-radius: 50%;
}

.avatar-with-name {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
}

nav ul{
    padding-left: 10px;
    padding-right: 10px;
}


h1.headline {
    margin-top: 40px;
}

.comment {
    clear: both;
    margin-bottom: 30px;
}


.comment .user-link {
    font-weight: bold;
}

.comment .gravatar {
    float: left;
}


.comment .comment-body {
    margin-left: 50px;
}

.comment time {
    display: block;
    color: #AAAAAA;
}


article{
    padding-top: 20px;
}
.comments img, article img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    max-height: 80vh;
}
.comments img, article iframe {
    max-width: 100%;
    max-height: 90vh;
}


.logister {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logister--panel {
    border: 1px solid #CCCCCC;
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
}

.search-result {
    clear: both;
    border: 1px solid #CCCCCC;
    overflow: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.searchbox {
    padding-top: 20px;
}

.search-result img {
    float: left;
    padding-left: 10px;
    padding-right: 35px;
}

.search-result em {
    color: #737373;
    font-style: italic;
}

.search-result h2 {
    margin: 0;
    padding: 0;
}




.chrome-only, .chrome-extension-installed, .install-chrome-extension-box {
    display: none;
}


.respond-form {
    text-align: center;
}

.response-group {
    margin-top: 40px;
}
.response-group a.button {
    display: block;
    width: 100%;
}



.start-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.start-box {
    text-align: center;
}

.affiliates {
    margin: 20px 0;
}
.swirl-link {
    margin-bottom: 20px;
}


.notifications time {
    color: #9d9d9d;
}
.new {
    font-weight: bold;
}
.new .fa {
    color: #ffbf00;
}



.paging {
    text-align: right;
    margin: 20px 0;
}