@import "normalize-3.0.2.css";
@import "form-elements.css";

*, *:before, *:after {
  box-sizing: inherit;
  /*outline:none;
  -webkit-appearance: carret;
  -webkit-appearance: none;*/
}

html,
body {
    width: 100%;
    min-height: 100%;
    background-color: #F1F1F1;
    margin: 0;
    padding:0;
}

html {
    font-size: 62.5%;
    box-sizing:border-box;
}

body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--main-font-color);
    padding-top:75px;
}


/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--swirl-blue);
    letter-spacing: -.1rem;
    font-weight: 300;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 2.0rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #737373;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.7rem;
    letter-spacing: -.08rem;
    margin-bottom: 1.2rem;
}
h5 {
    font-size: 1.6rem;
}

p {
    margin-top: 0;
}

/* Links
�������������������������������������������������� */
a {
    color: var(--swirl-blue);
}

a:hover {
    color: var(--swirl-blue-darker);
}

/* Lists
�������������������������������������������������� */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}

/* Code
�������������������������������������������������� */
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

/* Tables
�������������������������������������������������� */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

pre,
blockquote,
dl,
figure,
table,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}
p {
    margin: 1.0rem 0;
}


.site-header {
    width: 100%;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #fafafa;
    color: var(--nav-color);
    position:fixed;
    top:0;
    height:75px;
    z-index:50;
}
.site-header__content {
    padding: 0 10px 0 20px;
    margin: 0 auto;
    max-width: 1000px;
    line-height:70px;
    height:70px;
}

.site-header:after{
    content:'';
    position:absolute;
    height:5px;
    width:100%;
    bottom:0;
    background: #FF2E63;
    background: linear-gradient(to right, var(--album-color) 0%, var(--album-color) 20%,var(--book-color) 20%, var(--book-color) 40%, var(--movie-color) 40%, var(--movie-color) 60%, var(--tv-color) 60%, var(--tv-color) 80%, var(--video-color) 80%, var(--video-color) 100% );
}

.site-header__logo{
    display:inline-block;
    vertical-align: middle;
    position:relative;
    top:-3px;
}

.standard-page {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.list-page {
    max-width: 1000px;
    margin: 0 auto;
}


nav a, nav a:focus, nav a:hover, nav a:visited {
    color: var(--nav-color);
    text-decoration: none;
    position:relative;
    padding:0 10px;
}
nav a:hover {
    color: var(--swirl-hot-pink);
}


.site-header nav {
    float: right;
}

nav {
    text-transform: uppercase;
}
nav img {
    vertical-align: middle;
}

nav ul {
    display: inline-block;
    margin:0;
    padding:0;
    list-style:none;
 }
 nav ul li{
    float:left;
    margin-bottom:0;
 }

nav .avatar img, img.gravatar {
    border: 3px solid #6DA8D4;
}
img.gravatar{
    position: relative;
    top:-3px;
}

nav .nav-count {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    background-color: var(--swirl-hot-pink);
    color: #FFFFFF;
    border-radius: 20px;
    min-width: 18px;
    font-size:0.7em;
    height: 18px;
    position:relative;
    top:-7px;
    margin-left:-6px;
    padding:0 5px;
    box-shadow:0 0 0 2px #fafafa;
}


.validation-error {
    font-weight: bold;
    color: Red;
}



.border-bottom {
    border-bottom: 7px solid var(--generic-color);
}
.tv .border-bottom {
    border-bottom-color: var(--tv-color);
}
.album .border-bottom {
    border-bottom-color: var(--album-color);
}
.movie .border-bottom {
    border-bottom-color: var(--movie-color);
}
.book .border-bottom {
    border-bottom-color: var(--book-color);
}
.video .border-bottom {
     border-bottom-color: var(--video-color);
 }
.game .border-bottom {
     border-bottom-color: var(--game-color);
}

.padded {
    padding: 20px;
}
.padded-lr{
    padding-left:20px;
    padding-right: 20px;
}

.type-color {
    color: var(--generic-color);
}
.tv .type-color {
    color: var(--tv-color);
}
.album .type-color {
    color: var(--album-color);
}
.movie .type-color {
    color: var(--movie-color);
}
.book .type-color {
    color: var(--book-color);
}
.video .type-color {
    color: var(--video-color);
}
.game .type-color {
 color: var(--game-color);
 }

footer {
    margin: 100px 0 0;
}
footer ul, footer li {
    display: inline;
}

.feedback {
    margin: 40px 0;
    text-align: center;
    font-style: italic;
}


a.menu-button i {
    color: var(--swirl-hot-pink);
    font-size: 2.5em;
    transition: transform 500ms;
    vertical-align: middle;
    margin-right: 5px;
}

.menu-open .site-header i {
    transform: rotate(90deg);
}


.big-menu {
    text-align: center;
    display: none;
}
.menu-open .big-menu {
    display: block;
}

.big-menu nav {
    font-weight: bold;
    display: block;
    padding: 20px 5px;
}
.big-menu nav li a {
    line-height: 250%;
    white-space: nowrap;
}

.rainbow {
    content:'';
    height:5px;
    width:100%;
    background: #FF2E63;
    background: linear-gradient(to right, var(--video-color) 0%, var(--video-color) 20%,var(--tv-color) 20%, var(--tv-color) 40%, var(--movie-color) 40%, var(--movie-color) 60%, var(--book-color) 60%, var(--book-color) 80%, var(--album-color) 80%, var(--album-color) 100% );
}
