@import "normalize-3.0.2.css";
@import "form-elements.css";
@import "_variables.css";

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background-color: #E4E4E4;
    margin: 0;
    padding: 0;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--swirl-blue);
    letter-spacing: -.1rem;
    font-weight: 300;
}

h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 2.0rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #737373;
}

h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

h4 {
    font-size: 1.6rem;
    letter-spacing: -.08rem;
    margin-bottom: 1.2rem;
}

p {
    margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: var(--swirl-blue);
}

a:hover {
    color: var(--swirl-blue-darker);
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

ol, ul {
    padding-left: 0;
    margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}

li {
    margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}

.container {
    width: 100%;
    min-height: 100vh;
}

.site-header {
    width: 100%;
    text-align: center;
    background-color: var(--dark-bg-color);
}

.menu-button {
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 1.6em;
    transition: transform 500ms;
}

.menu-open .menu-button {
    transform: rotate(90deg);
}

.site-header a, .site-header a:focus, .site-header a:hover, .site-header a:visited {
    color: var(--nav-color);
    text-decoration: none;
}

.site-header a i.fa {
    color: var(--nav-icon-color);
}

.logo {
    height: 1.7em;
    width: 1.7em;
    margin: 5px 0 0 0;
}

nav {
    text-align: left;
    margin: 0;
    background-color: var(--dark-bg-color);
    width: 100%;
    display: block;
    color: #737373;

    /* animation and hiding settings */
    overflow: hidden;
    max-height: 0;
    transition: max-height 500ms;
}

.menu-open nav {
    max-height: 80vh;
    overflow-y: auto;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: 10px;
}

nav ul li a.nav-selected {
    background-color: var(--swirl-blue);
    color: #FFF;
}

nav .nav-count {
    padding-left: 15px;
    font-weight: bold;
    color: var(--swirl-blue);
}

nav .nav-selected .nav-count, nav a.nav-selected .fa, nav a.nav-selected, nav a.nav-selected:visited {
    color: #FFFFFF;
}

@media (min-width: 650px) {
    .container {
        display: flex;
    }

    .site-header {
        flex-shrink: 0;
        width: 200px;
    }

    .menu-button {
        display: none;
    }

    nav {
        max-height: none;
        overflow-y: auto;
    }

    main {
        margin: 20px;
        max-width: 1100px;
        width: 100%;
    }
}

.validation-error {
    font-weight: bold;
    color: Red;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid var(--dark-bg-color);
}