.rte textarea {
    display: none;
}

.rte .editor {
    width: 90%;
    overflow-y: visible;

    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    padding: 6px;
    margin-bottom: 10px;
}

/* Hack to make sure floated images don't overflow past the review */
.rte .editor:after, article:after {
    content: "";
    display: table;
    clear: both;
}

.edit-swirl .rte .editor {
    min-height: 300px;
}

.comment-body .rte .editor {
    min-height: 80px;
}


.rte--toolbar {
    width: 90%;
    background-color: #989898;
}
.rte--toolbar button {
    margin: 0;
    padding: 4px;
    background: none;
    color: #FFFFFF;
    border: solid 1px #000000;
    height: auto;
    line-height: normal;
}

.user-select-box {
    margin-top: 25px;
}

.user-select-box label {
    display: inline;
    white-space: nowrap;
    background-color: var(--swirl-blue);
    border: 1px solid var(--swirl-blue-darker);
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px 5px 0;
    color: #FFF;
    font-weight: normal;
}
.user-select-box label:hover {
    background-color: var(--swirl-blue-darker);
}
.user-select-box label input {
    margin-right: 4px;
}

.button-panel {
    margin-top: 20px;
}


[contentEditable=true] p:empty:not(:focus):before{
    content:attr(data-ph);
    color: #9d9d9d;
}


.spoiler-alert {
    border: 4px solid #ff6668;
    margin: 5px;
}
.spoiler-alert--content {
    display: none;
}

.editor p {
    empty-cells: show;
}

[contentEditable=true] .spoiler-alert--content:empty:not(:focus):before{
    content:attr(data-ph);
    color: #9d9d9d;
}


[contentEditable=true] .spoiler-alert--content {
    display: block;
}



.spoiler-alert--bar {
    background-color: #ff6668;
}
.spoiler-alert--bar a {
    color: #FFFFFF;
}

.spoiler-alert--close-button {
    display: none;
}

[contentEditable=true] .spoiler-alert--close-button {
    display: block;
    float: right;
    margin: 0;
    padding: 4px;
    background: none;
    border: none;
}