.rte textarea {
    display: none;
}

.rte .editor {
    width: 90%;
    overflow-y: visible;

    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    padding: 6px;
    margin-bottom: 10px;
}

/* Hack to make sure floated images don't overflow past the review */
.rte .editor:after, article:after {
    content: "";
    display: table;
    clear: both;
}

.edit-swirl .rte .editor {
    min-height: 300px;
}

.comment-body .rte .editor {
    min-height: 80px;
}




.user-select-box {
    margin-top: 25px;
}

.user-select-box label {
    display: inline;
    white-space: nowrap;
    background-color: var(--swirl-blue);
    border: 1px solid var(--swirl-blue-darker);
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px 5px 0;
    color: #FFF;
    font-weight: normal;
}
.user-select-box label:hover {
    background-color: var(--swirl-blue-darker);
}
.user-select-box label input {
    margin-right: 4px;
}

.button-panel {
    margin-top: 20px;
}
