.home {
    background-image: url('/immutable/images/friendsv3_small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.home--content {
    min-height: 95vh;
    height: 100%;
    padding: 100px 0 20px 40px;
}
.home p {
    margin-top: 30px;
    max-width: 300px;
    line-height: 1.6em;
    background-color: rgba(168, 233, 255, 0.1);
}
@media (min-width: 650px) {

    .home {
        background-image: url('/immutable/images/friendsv2.jpg');
    }
}
.subhead{
    font-size: 1.6em;
}
