

.search-result {
    clear: both;
    border: 1px solid #CCCCCC;
    overflow: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.searchbox {
    padding-top: 20px;
}

.search-result img {
    float: left;
    margin-left:10px;
    margin-right:25px;
}

.search-result em {
    color: #737373;
    font-style: italic;
}

.search-result h2 {
    margin: 0;
    padding: 0;
}

.no-query {
    visibility: hidden;
}
