.type-filter {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 10px;
}
.type-filter button {
    cursor: hand;
    background: transparent;
    border: 0;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    padding:0 5px;
    border-bottom: solid 7px var(--generic-color);
}

.swirl-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding:0 10px;
}

.mini-swirl {
    margin:0 10px 20px 10px;
    width: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #FFFFFF;
    box-shadow:0 2px 2px rgba(0,0,0,0.1);
    transition:all 200ms ease;
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.mini-swirl:hover{
    transform:translate3d(0,-2px,0);
    box-shadow:0 2px 2px rgba(0,0,0,0.2);
}

.mini-swirl .mini-swirl__link{
    text-decoration: none;
    display: flex;
    flex-direction:column;
    padding-bottom:30px;
    flex-grow: 1;
}

.mini-swirl__bgimage{
    height:200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    border-bottom:5px solid var(--generic-color);
    position: relative;
}

.mini-swirl__bgimage.tv,.type-filter .tv {
    border-bottom-color: var(--tv-color);
}
.mini-swirl__bgimage.album,.type-filter .album {
    border-bottom-color: var(--album-color);
}
.mini-swirl__bgimage.movie,.type-filter .movie {
    border-bottom-color: var(--movie-color);
}
.mini-swirl__bgimage.book,.type-filter .book {
    border-bottom-color: var(--book-color);
}
.mini-swirl__bgimage.video,.type-filter .video {
    border-bottom-color: var(--video-color);
}
.mini-swirl__bgimage.game,.type-filter .game {
    border-bottom-color: var(--game-color);
}


.mini-swirl h2 {
    padding: 0;
    font-size: 1.8rem;
    line-height: normal;
    color: var(--main-font-color);
}
.mini-swirl h2 a {
    padding: 20px;
    display: block;
    text-decoration: none;
    color: var(--main-font-color);
}

.mini-swirl time {
    color: #737373;
}
.mini-swirl .author-bit {
    font-size: 1.2rem;
    height:40px;
    bottom:0;
    left:0;
    line-height:40px;
    position: absolute;
    padding:0 20px;
}
.author-bit a{
    text-decoration: none;
}
.mini-swirl .author-bit img {
    vertical-align: middle;
}

.swirl-type {
    background-color: var(--generic-color);
    color: #FFFFFF;
    position: absolute;
    padding: 5px 10px;
    bottom:-5px;
    font-size:0.84em;
    left:0px;
    text-transform: uppercase;
}

.tv .swirl-type, .tv-background-color {
    background-color: var(--tv-color);
}
.album .swirl-type, .album-background-color {
    background-color: var(--album-color);
}
.movie .swirl-type, .movie-background-color {
    background-color: var(--movie-color);
}
.book .swirl-type, .book-background-color {
    background-color: var(--book-color);
}
.video .swirl-type, .video-background-color {
    background-color: var(--video-color);
}
.game .swirl-type, .game-background-color {
    background-color: var(--game-color);
}

.type-filter button.hidden {
    border-bottom-color: #F1F1F1;
    color: #989898;
}

.no-touch .paging button:hover {
    background-color: var(--swirl-blue);
}