{% extends "base.html" %}
{% block content %}
<h1>Forgotten password</h1>

<p>If you have forgotten your password, just enter your username or email address below and
    a link will be sent to your registered email address which will let you create a new password.</p>

{% if error %}

<p class="validation-error">{{error|safe}}</p>

{% endif %}

<form method="POST" action="/request-password-reset-email">
    {% csrf-field %}

    <label for="usernameOrEmail">Username or email</label>
    <input id="usernameOrEmail" type="text" autocomplete="email" name="usernameOrEmail" autofocus required
           maxlength="{{maxUsernameOrEmailLength}}" value="{{usernameOrEmail}}">

    <input type="submit" value="Continue">

</form>

{% endblock %}
