{% extends "base.html" %}
{% block content %}
<h1>Login</h1>

{% if error %}

<p class="validation-error">Sorry, you have entered an invalid username or password. Please try again.</p>

{% endif %}

<form method="POST" action="/login">
    {% csrf-field %}

    <label>Username
        <input type="text" autocomplete="nickname" name="username" autofocus required maxlength="50"
                value="{{username}}">
    </label>

    <label>Password:
        <input type="password" required pattern=".{8,}" title="Enter at least 8 characters"
               name="password">
    </label>
    <p><a href="/forgot-password?username={{ username|default:""|urlescape }}">Forgot your password? Click here.</a></p>

    <label>
        <input type="checkbox" name="remember"> Keep me logged in
    </label>

    <input type="submit" value="Login">

</form>

{% endblock %}
