<h1>Thirdparty Logins</h1>

<form method="POST" action="/facebook_login?return-url={{ return-url|default:"/"|urlescape }}">
{% csrf-field %}

<input type="image" src="/immutable/images/facebook-login-button-20150524.png" alt="Login with Facebook">
</form>
{% if fb-errors %}
<p class="validation-error">Sorry, something went wrong with your Facebook Login. Please try again.</p>
<p class="validation-error">Error Details: {{ error-message }}</p>
{% endif %}

<h1>Direct Login</h1>

{% if error %}

<p class="validation-error">Sorry, you have entered an invalid username or password. Please try again.</p>

{% endif %}

<form method="POST" action="/login?return-url={{ return-url|default:"/"|urlescape }}">
{% csrf-field %}

<label for="username">Username</label>
<input id="username" type="text" autocomplete="nickname" name="username" autofocus required
       maxlength="{{constraints.users.username.max-length}}"
       value="{{username}}">

<label for="password">Password</label>
<input id="password" type="password" required pattern=".{8,}" title="Enter at least 8 characters"
       name="password">
<p><a href="/forgot-password?username={{ username|default:""|urlescape }}">Forgot your password? Click here.</a></p>

<label>
    <input type="checkbox" name="remember"> Keep me logged in
</label>

<input type="submit" value="Login">

</form>