<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Password reset request</title>
</head>
<body>

    <p>Dear {{username}},</p>

    <p>There was a request at Swirl to reset your email password. To
        perform this reset, please <a href="{{token|passwordreseturl|absoluteurl}}">click here</a>.
    </p>

    <p style="padding-top:40px;font-style: italic">To unsubscribe or change your email preferences, <a href="{{ ''|notification-options-url|absoluteurl }}">click here</a>.</p>

</body>
</html>