{% extends "base.html" %}
{% block content %}
<h1>Reset password</h1>

<p>Please enter a new password below.</p>

{% if error %}

<p class="validation-error">{{error}}</p>

{% else %}


<form method="POST" action="/reset-password">
    {% csrf-field %}

    <input type="hidden" name="token" value="{{token}}">
    <label for="newPassword">New password</label>
    <input id="newPassword" type="password" name="newPassword" autofocus required pattern=".{8,}" title="Enter at least 8 characters">

    <input type="submit" value="Change password">

</form>
{% endif %}

{% endblock %}
