<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hey! You should read-watch-listen!</title>

    <link href="/immutable/css/normalize-3.0.2.css" rel="stylesheet" type="text/css"/>
    <link href="/immutable/css/skeleton-2.0.4.css" rel="stylesheet" type="text/css"/>
    <link href="/css/screen.css" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="container"> <nav>
    <div class="row">

            <div class="five columns">
                <ul>
                    <li><a href="/swirls">FIREHOSE</a></li>
                    <li><a href="/swirls/start">CREATE</a></li>

                    {% if user %}
                    <li><a href="/swirls/inbox">INBOX</a></li>
                    {% else %}
                    <li><a href="/register">REGISTER</a></li>
                    <li><a href="/login">LOGIN</a></li>
                    {% endif %}

                </ul>
            </div>
            <div class="two columns">
                <img src="/immutable/images/logo.png" class="logo"/><h1>Swirl</h1>
            </div>
            <div class="five columns right">
                {% if user %}
                Welcome, <a href="/swirls/by/{{ user.username|urlescape }}">{{user.username}}</a> | <a href="/logout">Log out</a>
                {% endif %}
            </div>


    </div></nav>


    <main>
        {% block content %}
        {% endblock %}
    </main>

    <script src="/immutable/js/jquery-2.1.3.min.js"></script>
    <script src="/js/app.js"></script>
</div>
</body>
</html>

