<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title|default:"Swirl - Recommendations for your friends" }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/immutable/dist/app-327aee5bcb.css" rel="stylesheet" type="text/css"/>
    <link href="/immutable/fonts/font-awesome-4.3.0.min.css" rel="stylesheet" type="text/css"/>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/mlcecjbidbmgjjokhjapcbilmollbejc">

    <link rel="apple-touch-icon" sizes="57x57" href="/immutable/icons/v2/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/immutable/icons/v2/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/immutable/icons/v2/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/immutable/icons/v2/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/immutable/icons/v2/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/immutable/icons/v2/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/immutable/icons/v2/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/immutable/icons/v2/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/immutable/icons/v2/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/immutable/icons/v2/manifest.json">
    <link rel="shortcut icon" href="/immutable/icons/v2/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Swirl">
    <meta name="application-name" content="Swirl">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/immutable/icons/v2/mstile-144x144.png">
    <meta name="msapplication-config" content="/immutable/icons/v2/browserconfig.xml">
    <meta name="theme-color" content="#4990e2">

    {% block head %}
    {% endblock %}
</head>
<body>

<div class="site-header">
    <div class="site-header--content">
        <a href="/"><img src="/immutable/images/swrlogo.png" width="38" height="23"/></a>
        <nav>

            <ul>
                <li><a href="/swirls/start" class="create-link">Create</a></li>
                {% if user %}
                <li><a href="/notifications">New <span
                        class="nav-count">{{notifications-count}}</span></a>
                </li>

                <li><a href="/swirls/inbox">Inbox <span
                        class="nav-count">{{unread-count}}</span></a></li>


                {% else %}
                <li><a href="/login" class="login-link">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}


            </ul>

            {% if user %}
            <a href="{{ user.username|user-url }}" class="avatar logged-in-user" alt="User logo"
               title="Show your swirls">{{ user.email_md5|gravatar-img:20 }}</a>
            {% endif %}


        </nav>
    </div>

</div>
<div class="rainbow"><span class="album-background-color"></span><span class="book-background-color"></span><span
        class="movie-background-color"></span><span class="tv-background-color"></span><span
        class="video-background-color"></span></div>


{% block main-content %}
{% endblock %}

<script src="/immutable/js/jquery-2.1.3.min.js"></script>
<script src="/immutable/dist/all-95bd6ede8a.js"></script>
</body>
</html>

