<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hey! You should read-watch-listen!</title>

    <link href="/immutable/css/tacit-0.3.6.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/screen.css" rel="stylesheet" type="text/css" />

</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>

        <li><a href="/swirls/inbox">Inbox</a></li>

        {% if user %}

        <li>Welcome, <a href="/swirls/by/{{ user.username|urlescape }}">{{user.username}}</a></li>

        <li><a href="/swirls/create">Create</a></li>

        <li><a href="/logout">Log out</a></li>

        {% else %}

        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>

        {% endif %}



    </ul>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<script src="/immutable/js/jquery-2.1.3.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>

