<!DOCTYPE html>
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title|default:"Swirl - Recommendations for your friends" }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/immutable/dist/app-6861501b17.css" rel="stylesheet" type="text/css"/>
    <link href="/immutable/fonts/font-awesome-4.3.0.min.css" rel="stylesheet" type="text/css"/>
    <link href="/immutable/css/w3-2.64-the-best-bits.css" rel="stylesheet" type="text/css"/>
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/mlcecjbidbmgjjokhjapcbilmollbejc">

    <link rel="apple-touch-icon" sizes="57x57" href="/immutable/icons/v2/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/immutable/icons/v2/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/immutable/icons/v2/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/immutable/icons/v2/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/immutable/icons/v2/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/immutable/icons/v2/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/immutable/icons/v2/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/immutable/icons/v2/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/immutable/icons/v2/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/immutable/icons/v2/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/immutable/icons/v2/manifest.json">
    <link rel="shortcut icon" href="/immutable/icons/v2/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Swirl">
    <meta name="application-name" content="Swirl">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/immutable/icons/v2/mstile-144x144.png">
    <meta name="msapplication-config" content="/immutable/icons/v2/browserconfig.xml">
    <meta name="theme-color" content="#4990e2">

    {% block head %}
    {% endblock %}
</head>
<body>

<div class="site-header">
    <nav class="paradeiser" id="paradeiser">
        <a href="/" title="Go home"><img src="/immutable/images/swrl-logo.svg" class="site-header__logo"
                                         height="30"/></a>
        {% if user %}
        <a href="/swirls/inbox/later" rel="nofollow" class="paradeiser-hidden-phone paradeiser-hidden-tablet"><i class="fa fa-list-ul" aria-hidden="true"></i> Wishlist</a>
        <a href="/swirls/inbox/later" rel="nofollow"class="paradeiser-hidden-desktop"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
        {% endif %}

        {% if user %}
        <a href="/swirls/start?wishlist=true" id="add-to-wishlist" class="paradeiser-hidden-phone paradeiser-hidden-tablet" rel="nofollow"><i class="fa fa-plus" aria-hidden="true"></i> Add to Wishlist</i></a>
        <a href="/swirls/start?wishlist=true" class="paradeiser-hidden-desktop" rel="nofollow"><i class="fa fa-plus" aria-hidden="true"></i></a>

        <a href="/swirls/start" rel="nofollow" class="paradeiser-hidden-phone paradeiser-hidden-tablet"><i class="fa fa-user-plus" aria-hidden="true"></i> Swirl to friends</a>
        <a href="/swirls/start" rel="nofollow" class="paradeiser-hidden-desktop"><i class="fa fa-user-plus" aria-hidden="true"></i></a>
         {% endif %}


        {% if user %}
        <a href="/notifications" rel="nofollow" class="paradeiser-hidden-phone paradeiser-hidden-tablet"><i class="fa fa-bell-o" aria-hidden="true"></i>Notifications ({{notifications-count}})</a>
        <a href="/notifications" rel="nofollow" class="paradeiser-hidden-desktop"><i class="fa fa-bell-o" aria-hidden="true">({{notifications-count}})</i></a>

        {% else %}
        <a href="/login" class="login-link" rel="nofollow">Login</a>
        <a href="/register" rel="nofollow">Register</a>
        {% endif %}

        {% if user %}
        <a href="/logout"
           class="logout-link paradeiser-hidden-phone paradeiser-hidden-tablet paradeiser-hidden-desktop">Logout</a>
        <a href="{{ user.username|user-url }}" class="avatar logged-in-user" title="Go to your profile">
            {{ user.username|gravatar-img:36 }}
        </a>

        {% endif %}

    </nav>
    <div class="rainbow"></div>
</div>

<main>
    {% block content %}
    {% endblock %}
</main>

<p class="feedback">We'd love to hear your feedback - email us at <a href="mailto:feedback@swrl.co">feedback@swrl.co</a>
    {% if user %} <br><a href="/swirls">All public swirls</a> - <a href="/logout" rel="nofollow">Logout</a> {% endif %}
</p>

<script src="/immutable/js/jquery-3.0.0-alpha1.min.js"></script>
<script src="/immutable/dist/all-f951b6e532.js"></script>
</body>
</html>