{% extends "base.html" %}
{% block content %}

<div class="standard-page">

    <div class="swirl-header border-bottom">
        <div class="swirl-header__bgimage" style="background-image: url({{ author.email_md5|gravatar-img-url:600 }})"></div>
        <img class="swirl-header__image {{ model.swirl.type }}" src="{{ author.email_md5|gravatar-img-url:600 }}"/>
        <div class="swirl-type">Profile page</div>
    </div>

    <br class="padded">

    {% if is-current-user %}
    <h1>Edit your profile</h1>

    <ul>
        <li><strong>Change your avatar:</strong>
            <a href="https://en.gravatar.com/emails/" target="_blank">click here to go to Gravatar.com</a> and upload an avatar.
            By signing up at Gravatar, you only have to upload your avatar once and it will be automatically available on many
            sites including Swirl.
        </li>
        <li><a href="/edit-profile">Update your username or email</a></li>
        <li><a href="/forgot-password?username={{ user.username|urlescape }}">Reset your password</a></li>
        <li><a href="{{ ''|notification-options-url }}">Set your email preferences</a></li>
        <li><a href="/logout" class="logout-link">Log out</a></li>
    </ul>


    <h2>Swirls you've made</h2>

    {% else %}
    <h1>Reviews by {{ author.username }}</h1>

    {% endif %}

    {% include "components/swirls-list-with-paging.html" with swirls=swirls %}

</div>
{% endblock %}
