{% extends "base.html" %}
{% block content %}
<div class="standard-page padded">
    <h1>{{group.name}}</h1>

    <p class="group-description">{{group.description}}</p>

    {% if security.can-edit %}
    <div class="swirl-admin-panel">
        <a href="{{ group.id|editgroupurl }}" class="button">Edit group</a>
    </div>
    {% endif %}

    <h2>Group members</h2>

    <ul class="group-members">
        {% for member in members %}
        <li><a href="{{ member.username|user-url }}">{{member.email_md5|gravatar-img:36}} {{member.username}}</a></li>
        {% endfor %}
    </ul>

    <p><strong>Invite your friends to this group.</strong> Just give them this link: <code class="join-url">{{ group|joingroupurl|absoluteurl }}</code></p>


    <h2>Group Swirls</h2>

    <p>Touch the big pink button to share something with the group.</p>

    <div class="bpb-wrapper">
        <a href="/swirls/start?group-id={{ group.id }}&is-private=true" class="bpb">
            <span>TOUCH ME TO</span>
            <img src="/immutable/images/swrl-logo-white.svg"/>
        </a>
    </div>



    {% include "components/swirls-list-with-paging.html" %}



</div>
{% endblock %}
