html,
body {
    width: 100%;
    height: 100%;
    background-color: #E4E4E4;
}
a{
    color:#72D33B;
}
.profile a{
    font-size: 18px;
}
.validation-error {
    font-weight: bold;
    color: Red;
}

.rte textarea {
    display: none;
}

.rte .editor {
    width: 90%;
    min-height: 300px;
    overflow-y: visible;

    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    padding: 6px;
    margin-bottom: 10px;
}

#swirl-title {
    width: 90%;
}

.responses input, .responses textarea, .responses select, .responses button {
    display: inline;
}

.response-text {
    font-weight: bold;
}
.gravatar{
    border: solid black;
}
.swirl .gravatar{
    float: left;
}
.swirl-content{
    margin-left:60px;
}

.comment {
    clear: both;
    margin-bottom: 30px;
}

.comment textarea {
    display: block;
}

.comment .user-link {
    display: block;
    font-weight: bold;
}

.comment .gravatar {
    float: left;
}

.comment textarea {
    width: 80%;
}

.comment .comment-body {
    margin-left: 50px;
}

.comment time {
    display: block;
    color: #AAAAAA;
}

header img {
    float: left;
}
header .byline {
    margin-left: 80px;
    height: 80px;
}

article{
    padding-top: 20px;
}
article img {
    float: right;
    margin-right: 30px;
    border: solid black;
    clear: both;
    margin-left: 30px;
}

.profile{
    margin-top:50px;
}
.profile h1{
    display: inline;
    margin-bottom: 0px;
}
.profile img{
    float: left;
    margin-right: 30px;
}
.headprofile{
    overflow: hidden;
}
.profile .left{
    float:left;
    width: 50%;
}
.inbox{
    text-align: center;
    padding-top: 30px;
}
.firehose-content{
    padding-top: 50px;
    padding-left:30px;
    background-color: white;
}
h1{
    color: #737373;
    text-transform: uppercase;
    font-size: 20px;
}
h2{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #737373;
    text-transform: uppercase;
    font-size: 17px;
}
nav {
    padding-bottom: 30px;
    padding-top: 60px;
    padding-right: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.0812398);
    height: 30px;
    color: #737373;
    text-transform: uppercase;
}
nav ul{
    padding-left: 40px;
    margin: 0px;
    text-align: left;
}

nav ul li {
    display: inline;
    list-style-type: none;

}

nav ul li a {
    display: inline;
    list-style-type: none;
    padding: 10px;
    font-size: 1em;
    color: #737373;
    text-decoration: none;

}

.site-header {
    white-space: nowrap;
}

.logo {
    height: 1em;
    width: 1em;
    border-radius: 100%;
    border: solid #737373 4px;
}

.site-title {
    color: #737373;
    font-size: 1.3em;
    font-weight: 300;
    height: auto;
    letter-spacing: -1px;
    line-height: 1.2;
    margin: 0 0 20px;
    padding-left: 10px;
    vertical-align: top;
    text-transform: none;
}

.row {
    padding-bottom: 30px;

}

.right {
    text-align: right;
}

.logister {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.logister--panel {
    border: 1px solid #CCCCCC;
    border-radius: 10%;
    padding: 10px;
    flex-grow: 1;
    margin: 10px;
}

.search-result {
    clear: both;
    margin: -1px;
    border: 1px solid #CCCCCC;
    overflow: auto;
    padding: 15px;
}

.container {
    max-width: 1190px;
    background-color: white;
}
.buffer{
    padding-top:50px;
}
.fa{
    padding-top:30px;
    padding-bottom:30px;
}
.searchbox{
    padding-top: 20px;
}
main{
    background-color: rgba(250, 250, 250, 1);
    padding-left: 60px;
    padding-right: 60px;
}
.search-result h5 {
    padding: 0;
    margin: 0;
    display: inline;
    letter-spacing: 1px;
}

.search-result img {
    float: left;
    padding-left: 10px;
    padding-right: 35px;
}

.search-result a {
    text-transform: uppercase;
    text-decoration: none;
    color: #737373;
}

.search-result em {
    text-transform: uppercase;
    color: #737373;
    font-size: 1em;
    letter-spacing: 1px;
}

.pad {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 400px) {
    .container {
        width: 90%;
    }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 90%;
    }
}

input[type="search"] {
    width: 100%;
    font-size: 50px;
    height: inherit;
}

.center {
    text-align: center;
}

.user-select-box label {
    display: inline;
    background-color: #5c9bce;
    border: 1px solid #0FA0CE;
    border-radius: 5px;
    padding: 5px;
    margin: 0 5px 5px 0;
}
