html,
body {
    height: 100%;
}
strong, b {
    font-weight: bold;
}

.validation-error {
    font-weight: bold;
    color: Red;
}

.rte textarea {
    display: none;
}
.rte .editor {
    border-style: dashed;
    width: 90%;
    min-height: 300px;
    overflow-y: visible;
    margin: 10px;
}

.responses input, .responses textarea, .responses select, .responses button {
    display: inline;
}

td.response {
    font-weight: bold;
}
nav{
    padding-bottom: 30px;
    border-bottom: 2px solid #999;
}
nav ul{
    margin: 0px;
    text-align: left;
}
nav ul li{
    display: inline;
    list-style-type: none;
    padding-right: 5px;
}
.row{
    padding-bottom: 30px;

}

.right{
    text-align: right;
}