{% extends "base.html" %}
{% block content %}
<div class="standard-page padded">
<h1>Adding links</h1>

<div class="chrome-only">
    <h2>Install the Chrome extension</h2>

    <p>This is the best way to create recommendations. Just click the Swirl icon in your browser bar.</p>

    <div class="install-chrome-extension-box">
        <button class="add-to-chrome-button">Add to chrome</button>
    </div>
    <div class="chrome-extension-installed"><strong>Congratulations! The extension is installed.</strong></div>

    <div>
        <p>To use it, just browse to any page that you want to share with your friends and press the Swirl button:</p>
        <img src="/immutable/images/extension-instructions.v2.png" width="547" height="174"
             alt="Screenshot of the chrome extension">

    </div>

</div>

<h2>Add a bookmarklet</h2>

<p>A great way to quickly add your favourite websites and links to your Swirls list is to use our
    nifty bookmarklet.</p>

<p>Simply drag the following link into your bookmarks bar, and then click it from any page:</p>


<p>
    <a class="bookmarklet" href="{{ bookmarklet }}">Swirl it</a>
</p>
</div>
{% endblock %}
