{% extends "base-no-footer.html" %}
{% block main-content %}
<main>
    <div class="home">

        <div class="bpb-wrapper">
            <a href="/swirls/start" class="bpb">
                <span>TOUCH ME TO</span>
                <img src="/immutable/images/swrl-logo-white.svg"/>
            </a>
        </div>

        <div class="center-wrapper">

            <h2 class="padded-lr">Your inbox</h2>

            {% include "components/swirls-list-with-paging.html" with swirls=swirls %}

        </div>

    </div>

</main>
{% endblock %}