{% extends "base.html" %}
{% block content %}
    <div class="center-wrapper">
        <div>
            <h2>Recommendations for your friends</h2>
            <p>
                Create recommendations for your friends based on what you love.
                Respond and discuss what you all thought, all in one place.
            </p>
        </div>

            {% include "auth/logister.html" %}
        <h1 class="padded-lr" id="page-title">Discover</h1>
        <form method="get" action="/search" class="search-form">
            <label for="search-query-box">Search</label><input id="search-query-box" type="search" class="query"
                                                               name="query"
                                                               value="{{query}}" required
                                                               placeholder="Search for Swirls"
                                                               title="Search for Swirls">
            <p class="search-result-summary{% if not query %} no-query{% endif %}">Showing
                <strong class="result-count">{{ swirls-from-search|count }}</strong> results for <i
                        class="query-val">{{query}}</i>
            </p>
            <button hidden type="submit" class="submit">Go</button>

        </form>
        {% include "components/swirls-list-with-paging.html" with swirls=swirls %}
    </div>

{% endblock %}