{% extends "base.html" %}
{% block content %}
<h1>Welcome to Swirl</h1>

<p><em>Reviews for your friends</em></p>

<p>Swirl is a place to create reviews and recommendations for your friends. It makes it super simple to write a
    book, movie, music, or website review, and have your friends rate and discuss it.</p>

<p>You can also use it as a way to remember all those things your friends recommended to you. Just swirl it!</p>

<p>Not sure where to start? You could check out the <a href="/swirls">firehose</a> for all recent swirls.</p>
{% endblock %}
