{% extends "base-no-footer.html" %}
{% block main-content %}
<main>
    <div class="home">

        <div class="bpb-wrapper">
            <a href="/swirls/start" class="bpb">
                <span>TOUCH ME TO</span>
                <img src="/immutable/images/swrl-logo-white.svg"/>
            </a>
        </div>


        <div class="home--content">
            <img class="biglogo" src="/immutable/images/swrlogo.png" width="115" height="70" alt="Swirl"/>

            <div class="subhead">Reviews for your friends</div>
            <p>
                Create recommendations for your friends based on what you love.
                Respond and discuss what you all thought, all in one place.
            </p>
        </div>

        {% include "auth/logister.html" %}

    </div>

</main>
{% endblock %}