{% extends "base-no-footer.html" %}
{% block main-content %}
<main>
    <div class="home">

        <div class="bpb-wrapper">
            <a href="/swirls/start" class="bpb">
                <span>TOUCH ME TO</span>
                <img src="/immutable/images/swrl-logo-white.svg"/>
            </a>
        </div>


        <h2>Your inbox</h2>

        {% include "components/swirls-list-with-paging.html" with swirls=swirls %}


        <a href="/swirls/start" class="create-link">Create</a>
        <a href="/how-to-add">How to add</a>
        <a href="/swirls" class="firehose-link">Firehose</a>
        {% if user %}
        <a href="/logout" class="logout-link">Log out</a>
        {% endif %}
    </div>

</main>
{% endblock %}